@import "../../../public/css/common.css";
$height: 300px;
$offwhite: #f8f8f8;
body {
	height: $height; 
	display: flex;
	color: #666;
	FONT-SIZE: 20px;
	&.ss{
		background: $red;
		FONT-SIZE: 20px;
		div {
			div {
				div {
					width: 200px;
				}
			}
		} 
	}
	&div {  
		border: solid 1px $offwhite;
		background: url("https://cdn2.jianshu.io/assets/web/logo-58fd04f6f0de908401aa561cda6a0688.png")
	}
}